<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Conectar</servlet-name>
        <servlet-class>connection.Conectar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUser</servlet-name>
        <servlet-class>controller.ControllerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerIngressAndPermits</servlet-name>
        <servlet-class>controller.ControllerIngressAndPermits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerOffers</servlet-name>
        <servlet-class>controller.ControllerOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUserProduct</servlet-name>
        <servlet-class>controller.ControllerUserProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerFilter</servlet-name>
        <servlet-class>controller.ControllerFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerContactUs</servlet-name>
        <servlet-class>controller.ControllerContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerOrders</servlet-name>
        <servlet-class>controller.ControllerOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRole</servlet-name>
        <servlet-class>controller.ControllerRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoMasivo</servlet-name>
        <servlet-class>mail.CorreoMasivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportOffers</servlet-name>
        <servlet-class>reports.ReportOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCategorias</servlet-name>
        <servlet-class>reports.ReporteCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAportProducer</servlet-name>
        <servlet-class>controller.ControllerAportProducer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDistributorOrders</servlet-name>
        <servlet-class>controller.ControllerDistributorOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialOfertas</servlet-name>
        <servlet-class>reports.HistorialOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCertificacion</servlet-name>
        <servlet-class>reports.ReporteCertificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteProductos</servlet-name>
        <servlet-class>reports.ReporteProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProducts</servlet-name>
        <servlet-class>controller.ControllerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Certificado</servlet-name>
        <servlet-class>reports.Certificado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ofertas</servlet-name>
        <servlet-class>reports.Ofertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarReestablecerClave</servlet-name>
        <servlet-class>validaciones.ValidarReestablecerClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePedidos</servlet-name>
        <servlet-class>reports.ReportePedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCertificado</servlet-name>
        <servlet-class>reports.ReporteCertificado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conectar</servlet-name>
        <url-pattern>/con</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUser</servlet-name>
        <url-pattern>/cu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerIngressAndPermits</servlet-name>
        <url-pattern>/ip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerOffers</servlet-name>
        <url-pattern>/co</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUserProduct</servlet-name>
        <url-pattern>/caso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerFilter</servlet-name>
        <url-pattern>/cf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerContactUs</servlet-name>
        <url-pattern>/ccu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerOrders</servlet-name>
        <url-pattern>/cor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRole</servlet-name>
        <url-pattern>/cr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoMasivo</servlet-name>
        <url-pattern>/cm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportOffers</servlet-name>
        <url-pattern>/roff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCategorias</servlet-name>
        <url-pattern>/ReporteCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAportProducer</servlet-name>
        <url-pattern>/cap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDistributorOrders</servlet-name>
        <url-pattern>/cod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialOfertas</servlet-name>
        <url-pattern>/ho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCertificacion</servlet-name>
        <url-pattern>/rc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteProductos</servlet-name>
        <url-pattern>/rp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProducts</servlet-name>
        <url-pattern>/cp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Certificado</servlet-name>
        <url-pattern>/Certificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ofertas</servlet-name>
        <url-pattern>/ro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarReestablecerClave</servlet-name>
        <url-pattern>/vrc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePedidos</servlet-name>
        <url-pattern>/rped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCertificado</servlet-name>
        <url-pattern>/rca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
